

header{
    color: green;
    background: linear-gradient(to right, #FDFBFB, royalblue, #003366 85%);
   text-align: center;
   font-style: impact;
   font-size: 40px;
}
h2{
    color: red;
    text-align: left;
    font-style: impact;
    font-size: 25px;
}
img{
    vertical-align: center;
}